.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 3px solid white;
    animation: App-logo-spin infinite 1s linear;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: auto;
}