.App {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    transition: all 500ms ease;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.myNav {
  font-family: "Berlin Sans FB";
  background-color: lightgrey;
}

.btn-floating {
  margin-top: 0.8vw;
  margin-left: 5vw;
  padding: auto;
}

.active {
  background-color: #028cff;
    border-bottom: solid 0.2vw #005cbf;
    transition: all 0.3s;
}

.mainPara {
    margin-top: 0vw;
    padding-top: 8vw;
    color: white;
  font-size: 5vw;
  font-family: "Berlin Sans FB";
}

.orangePara {
    color: orange;
    font-weight: 400;
    border-bottom: solid 1vw #ff7600;
}

.clock {
  display: inline-block;
  color: #028cff;
  font-family: "Berlin Sans FB";
  font-size: 11vw;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
  padding: 1vw;
}

.hours {
    padding-left: 1vw;
    font-size: 3.5vw;
    font-weight: 100;
    color: #ff7600;
}

.homePage, .aboutPage {
    /* The image used */
    background-image: url(../public/images/home.jpg);
    /* Full height */
    height: 92.7%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splitting {
  color: orange;
  margin: 0.5vw fill;
  padding: 1vw;
  font-size: 11vw;
}

.madeby {
    margin-top: 0px;
    padding-top: 12vw;
    font-family: "Berlin Sans FB";
    font-size: 2vw;
    color: black;
}

.name {
    font-family: "Berlin Sans FB";
    font-size: 3vw;
    color: #028cff;
}

.gmail {
    padding-left: 1vw;
    font-family: "Berlin Sans FB";
    font-size: 1.5vw;
    color: orange;
    font-weight: bold;
}