.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.myNav {
  font-family: "Berlin Sans FB";
  background-color: #028cff;
}

.btn-floating {
  margin-top: 0.8vw;
  margin-left: 5vw;
  padding: auto;
}

.active {
  background-color: rgba(255, 255, 255, 0.6);
}

.mainPara {
  font-size: 5vw;
  font-family: "Berlin Sans FB";
}

.clock {
  display: inline-block;
  color: #028cff;
  font-family: "Berlin Sans FB";
  font-size: 11vw;
  margin-right: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
  padding: 1vw;
}

.hours {

}

.splitting {
  color: orange;
  margin: 0.5vw fill;
  padding: 1vw;
  font-size: 11vw;
}